In [16]:
from hdbcli import dbapi
from pandas import DataFrame
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import multiprocessing
import os
config_connection = [
    {
        "HOST": "10.100.114.50",
        "PORT": "30041",
        "USER": "VH_DATAMART",
        "PASS": "DBVHome#2023",
        "DB": "PEC",
        "MANDT": " AND MANDT in (911, 912)"
    },
    {
        "HOST": "10.100.112.70",
        "PORT": "32041",
        "USER": "VH_DATAMART",
        "PASS": "DBVHome#2023",
        "DB": "PE7",
        "MANDT": " AND MANDT in (932)"
    },
    {
        "HOST": "10.100.112.70",
        "PORT": "33041",
        "USER": "VH_DATAMART",
        "PASS": "DBVHome#2023",
        "DB": "PE6",
        "MANDT": " AND MANDT in (922)"
    }
]

max_results = 250000
creds = config_connection[0]
print(creds)

{'HOST': '10.100.114.50', 'PORT': '30041', 'USER': 'VH_DATAMART', 'PASS': 'DBVHome#2023', 'DB': 'PEC', 'MANDT': ' AND MANDT in (911, 912)'}

In [17]:
conn = dbapi.connect(
            address='10.100.114.50',
            port=30041,
            user='VH_DATAMART',
            password='DBVHome#2023',
            database='PEC',
            compress=True,
            distribution="ALL",
            prefetch=False,
            encrypt=False
        )
print(conn.getaddress())
print(conn.isconnected())

10.100.114.50
True

In [18]:

cursor = conn.cursor()

In [24]:
# cursor.execute(f'select "MANDT",CAST("DB_KEY" AS VARCHAR) AS "DB_KEY",CAST("PARENT_KEY" AS VARCHAR) AS "PARENT_KEY","EXT_LAYOUT_NOTE","VINID_NAME","VINID_CMT","VINID_MOB","VINID_CARD","VINID_AMT","SF_SALE_MEM","EXT_EXP_DAT_TF","EXT_CSBH_DAT","EXT_VOUCHER_SERIAL","EXT_VOUCHER_MATNR","RECEI_VC_DATE","EXT_SF_PAYM_ID","EXT_SF_PAYM_ORDER","EXT_EXT_DAT_DO","EXT_CUSTOMER_NO","EXT_ORDER_ID","EXT_CONFIRM","EXT_IDFILE1","EXT_IDFILE2","EXT_UNC01","EXT_UNC02","EXT_UNC03","EXT_UNC04","EXT_UNC05","EXT_UNC06","EXT_UNC07","EXT_UNC08","EXT_UNC09","EXT_UNC10","EXT_DD_PLAN_DEL_RAW","EXT_STAT_TTS","EXT_REFUND_BANK_ACC","EXT_REFUND_BANK_OWN","EXT_REFUND_BANK_BANK","EXT_LUR_EXP_DAT","EXT_LUR_OWNER","EXT_RATE_CK","EXT_AMT_CK","EXT_TYPE_CK","EXT_NOTE_CK","EXT_AMT_TOTAL_CK","EXT_WAERS","EXT_CHECK_DEL_RAW","EXT_DD_PLAN_DEL_COMPL","EXT_CONFIRM_SP_DATE","EXT_CONFIRM_PRICE","EXT_OLD_DATE_PRICE","EXT_DUNN_BANK","EXT_SIGN_METHOD","EXT_HD_KUNN","EXT_TEN_VAY_1","EXT_CMND_VAY_1","EXT_DIA_CHI_VAY_1","EXT_TEN_VAY_2","EXT_CMND_VAY_2","EXT_DIA_CHI_VAY_2","EXT_ACT_LOAN_LIMIT","EXT_DISBUR_AMOUNT","EXT_ACT_LOAN_RATE","EXT_PROC_CONFIRM","EXT_PROC_DOWN_PAY","EXT_PROC_CONFIRM_HTLS","EXT_SO_KUNN","EXT_SEND_HS_EMAIL","EXT_TAKE_HS_EMAIL","EXT_HAN_CMND","EXT_CUS_CSBH","EXT_CERT_LAND_ACC","EXT_CHITIET_HS","EXT_HANKY_HDMB_MOI" from SAPABAP1.ZTB_D_CN_K WHERE MANDT in (922) LIMIT 10')
# cursor.execute(f'SELECT * FROM SAPABAP1.ZTB_D_CN_K WHERE MANDT in (922) LIMIT 100')
cursor.execute(f'SELECT TOP 1000 * FROM SAPABAP1.ZTB_D_CN_K')
data = cursor.fetchall()

final_read_cols = [des[0] for des in cursor.description]
df = DataFrame(data, columns=final_read_cols)

print(len(df))
df.head(10)

##df.head()

##print(data)

1000

,MANDT,DB_KEY,PARENT_KEY,EXT_LAYOUT_NOTE,VINID_NAME,VINID_CMT,VINID_MOB,VINID_CARD,VINID_AMT,SF_SALE_MEM,...,EXT_CERT_LAND_ACC,EXT_CHITIET_HS,EXT_HANKY_HDMB_MOI,EXT_EXPECTED_DIS_DATE,EXT_APARTMENT_STATUS,EXT_ZJ_ORG,EXT_STATUS_NOTE,EXT_SDT_CONVERT,EXT_SOURCE_ORDER,EXT_RANK_FIX
0,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 1...","[0, 80, 86, 189, 61, 187, 30, 234, 129, 162, 9...",,,,,,0,,...,,,00000000,00000000,,0,,,,
1,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 1...","[0, 80, 86, 189, 61, 187, 30, 218, 128, 214, 3...",,,,,,0,,...,,,00000000,00000000,,0,,,,
2,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 2...","[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 7...",,,,,,0,,...,,,00000000,00000000,,0,,,,
3,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 2...","[0, 80, 86, 189, 61, 187, 30, 218, 129, 160, 1...",,,,,,0,,...,,,00000000,00000000,,0,,,,
4,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 2...","[0, 80, 86, 189, 61, 187, 30, 218, 129, 160, 1...",,,,,,0,,...,,,00000000,00000000,,0,,,,
5,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 2...","[0, 80, 86, 189, 52, 120, 30, 218, 129, 158, 1...",,,,,,0,,...,,,00000000,00000000,,0,,,,
6,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 164, 2...","[0, 80, 86, 189, 61, 187, 30, 233, 177, 170, 3...",,,,,,0,,...,,,00000000,00000000,,0,,,,
7,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 165, 5...","[0, 80, 86, 189, 61, 187, 30, 234, 128, 191, 2...",,,,,,0,,...,,,00000000,00000000,,0,,,,
8,911,"[0, 80, 86, 189, 66, 204, 30, 218, 129, 165, 5...","[0, 80, 86, 189, 61, 187, 30, 218, 129, 160, 2...",,,,,,0,,...,,,00000000,00000000,,0,,,,
9,911,"[0, 80, 86, 189, 61, 187, 30, 234, 129, 165, 1...","[0, 80, 86, 189, 61, 187, 30, 218, 129, 161, 4...",,,,,,0,,...,,,00000000,00000000,,0,,,,

In [3]:
# DBERCHZ1 71 phut
# DBERCHZ3 20 phut

TABLE_NAME = 'BSEG'
COLUMN_PARTITION = 'gjahr'
PARALLELS = 15

# Get partition
cursor = conn.cursor()

cursor.execute(f'SELECT {COLUMN_PARTITION} FROM sapabap1.{TABLE_NAME} GROUP BY {COLUMN_PARTITION}')
partition_list = cursor.fetchall()

# Cho chạy tuần tự các partition
partition_stack = []

def query(PARTITION):
    cursor = conn.cursor()
    sql_query = f'SELECT * FROM sapabap1.{TABLE_NAME} WHERE {COLUMN_PARTITION} = {PARTITION}'
    # print(sql_query)
    cursor.execute(sql_query)
    
    file_number = 0
    while True:
        row = cursor.fetchmany(max_results)
        if not row:
            break
        final_read_cols = [des[0] for des in cursor.description]
        df = DataFrame(row, columns=final_read_cols)

        dir = os.path.join(f'data/{TABLE_NAME}')
        if not os.path.exists(dir):
            os.makedirs(dir)
        df.to_parquet(f'{dir}/{TABLE_NAME}_{PARTITION}_{file_number}.parquet')
        df.to_parquet(f'gcs://vinhome_datalake_mis/SAP_FOR_JPF/TEMP/PEC/{TABLE_NAME}/{TABLE_NAME}_{PARTITION}_{file_number}.parquet')
        file_number = file_number + 1
    
def run_multiprocessing(p_stack):
    print(f'p_stack : {p_stack}')
    threads = []

    for i in range(len(p_stack)):
        thread = multiprocessing.Process(target=query, args=[p_stack[i]])
        threads.append(thread)

    # Khởi chạy các luồng
    for thread in threads:
        thread.start()

    # Chờ các luồng kết thúc
    for thread in threads:
        thread.join()
    

partition_current = 0
p_stack = []
for p in partition_list:
    partition_current = partition_current + 1
    print(f'PARTITION {partition_current} : {p[COLUMN_PARTITION]}')
    
    p_stack.append(p[COLUMN_PARTITION])
    if len(p_stack) == PARALLELS or partition_current == len(partition_list):
        run_multiprocessing(p_stack)
        p_stack = []

PARTITION 1 : 2017
PARTITION 2 : 2018
PARTITION 3 : 2019
PARTITION 4 : 2020
PARTITION 5 : 2021
PARTITION 6 : 2022
PARTITION 7 : 2023
p_stack : ['2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [ ]:
cursor.execute("SELECT BELNR FROM SAPABAP1.DBERCHZ1 rownum >= 10 AND rownum <=  50")
# cursor.execute("""select *, RECORD_COUNT as COUNT
#                 from SYS.M_TABLES
#                 where TABLE_NAME in ( 'ZV_EANL', 'IFLOT', 'BSEG')
#                 ORDER  BY TABLE_NAME""")
# cursor.execute("""SELECT COUNT(*) FROM SAPABAP1.BSEG """)

data = cursor.fetchall()

final_read_cols = [des[0] for des in cursor.description]
df = DataFrame(data, columns=final_read_cols)

print(len(df))
df.head(10)




# cursor.execute("SELECT CPUDT, AEDAT FROM SAPABAP1.BKPF LIMIT 50000")
# data = cursor.fetchall()
# print(data)

# 18tr
#BSEG	61841591, 61841597, 61841600, 61841602
#61841604

In [ ]:
def query(query):
    # Thực hiện truy vấn SQL
    cursor = conn.cursor()
    cursor.execute(query)

    # data = cursor.fetchall()
    total = 0
    file_count = 0
    while True:
        row = cursor.fetchmany(max_results)
        # print( type(two_rows))
        if not row:
            break
        final_read_cols = [des[0] for des in cursor.description]
        df = DataFrame(row, columns=final_read_cols)

        threads = []
        def func():
            for col in final_read_cols:
                df.sort_values(by=col, ascending=True)
        for i in range(5):
            thread = multiprocessing.Process(target=func)
            threads.append(thread)

        # Khởi chạy các luồng
        for thread in threads:
            thread.start()

        # Chờ các luồng kết thúc
        for thread in threads:
            thread.join()

        # for col in final_read_cols:
        #     df.sort_values(by=col, ascending=True)


        file_count = file_count + 1
        dir = os.path.join('data_csv', f'{os.getpid()}')
        if not os.path.exists(dir):
            os.makedirs(dir)
        df.to_csv(f'{dir}/{file_count}.csv')
        total = total + len(row)
    print(query)
    print(total)

    # Xử lý kết quả
    # print(query)
    # print(len(data))

# Tạo các luồng
queries = ["SELECT * FROM SAPABAP1.BKPF WHERE CPUDT < 20190101", # 17,18
          "SELECT * FROM SAPABAP1.BKPF WHERE CPUDT > 20181231 AND CPUDT < 20200101", # 19
          "SELECT * FROM SAPABAP1.BKPF WHERE CPUDT > 20191231 AND CPUDT < 20210101", # 20
          "SELECT * FROM SAPABAP1.BKPF WHERE CPUDT > 20201231 AND CPUDT < 20220101", # 21
          "SELECT * FROM SAPABAP1.BKPF WHERE CPUDT > 20211231 AND CPUDT < 20230101", # 22
          "SELECT * FROM SAPABAP1.BKPF WHERE CPUDT > 20221231"] # 23

In [ ]:
current_dateTime = datetime.now()
threads = []
for i in range(6):
    thread = multiprocessing.Process(target=query, args=[queries[i]])
    threads.append(thread)

# Khởi chạy các luồng
for thread in threads:
    thread.start()

# Chờ các luồng kết thúc
for thread in threads:
    thread.join()
print(datetime.now() - current_dateTime)
#0:00:33.742826
#0:00:56.540200
#0:02:54.690072
#0:05:17.436122 18.5 tr record
#0:05:26.120837
#0:11:53.254142 save file

In [ ]:
current_dateTime = datetime.now()
cursor = conn.cursor()
cursor.execute("SELECT CPUDT, AEDAT, BUKRS, BELNR, GJAHR,BLART,BLDAT,BUDAT,MONAT,UPDDT,WWERT,USNAM,TCODE,BVORG,XBLNR,DBBLG,STBLG,STJAH,BKTXT,WAERS,KURSF,KZWRS,KZKRS,BSTAT,XNETB,FRATH,XRUEB,GLVOR,GRPID,DOKID,ARCID,IBLAR,AWTYP,AWKEY FROM SAPABAP1.BKPF LIMIT 20000000")
total = 0
while True:
    row = cursor.fetchmany(max_results)
    # print( type(two_rows))
    if not row:
        break
    total = total + len(row)
print(total)
print(datetime.now() - current_dateTime)
#0:01:05.485812
#0:01:19.771121

In [ ]:
data = cursor.fetchall()

final_read_cols = [des[0] for des in cursor.description]
df = DataFrame(data, columns=final_read_cols)

df_count = df.groupby('CPUDT')['CPUDT'].count()

print(len(df_count))
df_count.head(20)

df_count.to_csv('./data02.csv')

In [ ]:

# data = cursor.fetchmany(max_results)
# print(len(data))
# if len(data) > 0:
#     cursor.nextset()

data = cursor.fetchall()

final_read_cols = [des[0] for des in cursor.description]
df = DataFrame(data, columns=final_read_cols)
df.to_csv('./data01.csv')
# current_dateTime = datetime.now()
# while True:
#     two_rows = cursor.fetchmany(max_results)
#     # print( type(two_rows))
    
#     if not two_rows:
#         break
#     print(len(two_rows))
# # while True:
# #     two_rows = cursor.fetchone()
# #     # print( type(two_rows))
# #     if not two_rows:
# #         break
#     # print(len(two_rows))
# print(datetime.now() - current_dateTime)


# many 10k: 19s, 19s
# many 30k : 21s, 21s
# one : 23.5, 23.5

# many 10k: 6, 6.2

In [ ]:
cursor.execute("SELECT * FROM SAPABAP1.BKPF LIMIT 50000")

# data = cursor.fetchmany(max_results)

data = cursor.fetchall()
final_read_cols = [des[0] for des in cursor.description]
df = DataFrame(data, columns=final_read_cols)
# print(cursor)
# rows = 0
# print(rows)
# for row in cursor:
#     rows = rows + 1

# print(rows)

print(f'Row count: [{cursor.rowcount}]')

df.to_csv('./data01.csv')

df.to_parquet('./data01.parquet')

In [ ]:
final_read_cols = [des[0] for des in cursor.description]
df = DataFrame(data, columns=final_read_cols)

In [ ]:
df.head()

In [ ]:
print(len(df))

In [ ]:
cursor.close()